@charset "UTF-8";
/* CSS Document */

body {
	background-color: #DFF4F7;
	font-family: 'Arimo', sans-serif;
}

ul{
	list-style-type: none;
	text-align: center;
}

li{
	margin: 15px 0;
}

ul.poke-list{
	grid-template-columns: 200px 200px 200px 200px 200px;
	display: grid;
	padding: 0;
	justify-content: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (max-width: 1000px) {
	ul.poke-list {
	  grid-template-columns: 200px 200px 200px 200px;
	}
}

@media (max-width: 800px) {
	ul.poke-list {
	  grid-template-columns: 200px 200px 200px;
	}
}

@media (max-width: 720px) {
	ul.poke-list {
	  grid-template-columns: 300px 300px;
	}
}

@media (max-width: 600px) {
	ul.poke-list {
	  grid-template-columns: 300px;
	}
}

h1, h2{
	text-decoration: underline;
	text-align: center;
}

.title{margin: 10px 0;}

.navbar{background-color: #C3D9E8;}

.pokedex{margin: 0 20px}

.pokeball{width: 50px;}

.pokemon-info{font-size: 20px;}

.pokemon-image{
	height: 200px;
	float: left;
}

.btn{
	border: none;
	font-family: inherit;
	font-size: 18px;
	background-color: #B5CDD2;
	color: #111111;
	text-decoration: none;
	width: 150px;
	padding: 15px;
	transition: 0.5s opacity;
}

.btn:hover, .btn:focus{
	background-color: #B5CDD2;
	color: #111111;
	cursor: pointer;
	opacity: 0.5;
}

.form-search{
	display: block;
	text-align: center;
	margin: 15px 0;
}

.search-bar{
	border-width: 1px;
	border-color: #545F7D;
	border-radius: 5%;
	background-color: #F5F7FC;
	font-family: inherit;
	font-size: 14px;
	text-align: center;
	width: 250px;
	padding: 8px;
}

.btn-search{
	border: none;
	border-radius: 5%;
	font-family: inherit;
	font-size: 14px;
	background-color: #B5CDD2;
	color: #111111;
	text-decoration: none;
	width: 100px;
	padding: 10px;
	transition: 0.5s opacity;
}

.modal-content{
	background-color: #CEEDF2;
	width: 550px;
}
