@charset "UTF-8";
/* CSS Document */

body {
	background-color: #E9F5F7;
	font-family: 'Arimo', sans-serif;
}

ul{
	list-style-type: none;
	text-align: center;
}

li{margin: 15px 0;}

h1, h2{
	text-decoration: underline;
	text-align: center;
}

p{text-align: center;}

.navbar{background-color: #CEEDF2;}

.pokemon-name{margin-top: 0;}

.pokemon-info{
	font-size: 24px;
	margin-bottom: 0;
}

.pokemon-image{
	height: 150px;
	display: block;
	margin: auto;
}

.btn{
	border: none;
	font-family: inherit;
	font-size: 20px;
	background-color: #B5CDD2;
	color: #111111;
	text-decoration: none;
	padding: 15px;
	transition: 0.5s opacity;
}

.btn:hover, .btn:focus{
	cursor: pointer;
	opacity: 0.8;
}